<div class="jumbotron">
    <p>{{data[questionNumber].body}}</p>
    <div class="btn-group btn-group-justified">
        <div class="btn-group" ng-repeat="answer in data[questionNumber].possibleAnswers">
            <button class="btn btn-info " ng-click="checkAnswer(answer, data[questionNumber].points)">{{answer}}</button>
        </div>
    </div>

    <!--Show Answer and Explanation-->
    <p>
        <div class="alert alert-dismissable alert-success sample-show-hide" ng-show="showTrueAnswer">
            <button class="btn btn-primary btn-xs close" ng-click="nextQuestion()">Next Question</button>
            <strong>Correct! </strong>{{data[questionNumber].answer}}
        </div>
        <div class="alert alert-dismissable alert-danger sample-show-hide" ng-show="showFalseAnswer">
            <button class="btn btn-primary btn-xs close" ng-click="nextQuestion()">Next Question</button>
            <strong>Incorrect! </strong>{{data[questionNumber].answer}}
        </div>
    </p>
</div>