<div class="jumbotron" ng-controller="PlayerDataController">
    <h2 class="title-center">Rating</h2>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="player in playerData | orderBy: points">
            <td>{{$index}}</td>
            <td>{{player.name}}</td>
            <td>{{player.points}}</td>
        </tr>
        </tbody>
    </table>
</div>