#points {
    border-radius: 130px;
    width: 65px;
    height: 65px;
    background-color: darkgray;
    font-size: 26px;
    text-align: center;
    padding-top: 13px;
    font-weight: bold;
    color: black;
    float: left;
}

.title-center{
    text-align: center;
}